extends layout
block content

    div(class="content-block")
        div(class="image-content")
        img(style="border-radius: 125px" class="image-content-src" src="images/GitHub-Mark.png")
        div(class="content-text")
            h2(style="margin-top: 50px") Github
            a(href="https://github.com/henrygoodman" target="_blank") github.com/henrygoodman
    
    div(class="content-block")
        div(class="image-content")
        img(class="image-content-src" src="images/Gmail-Logo.png")
        div(class="content-text")
            h2(style="margin-top: 50px") Email 
            p henryg124@gmail.com