extends layout
block content

  div(class="content-block")
    div(class="image-content")
      img(class="image-content-src" src="images/UTS_eRes_SES1A.png")
    div(class="content-text")
      h2(style="margin-bottom: 20px") eRestaurant 
      p University group project building a web application using Express with EJS views and MongoDB storage.
      p Back-end contribution building database interface, integrating Mongo API and handling all business logic.
      a(href="http://eres.herokuapp.com" target="_blank") Click here to check it out.

  div(class="content-block")
    div(class="image-content")
      img(class="image-content-src" src="images/maze.png")
    div(class="content-text")
      h2(style="margin-bottom: 20px") Maze Generator and Solver
      p Maze Generator using JS source code, solver implemented using Depth First Search algorithm with visualisation.
      p
        a(href="http://mazesolverdfs.herokuapp.com" target="_blank") Click here to check it out.
      a(href="https://github.com/henrygoodman/maze-solver-dfs" target="_blank") Github link.

  div(class="content-block")
    div(class="image-content")
      img(class="image-content-src" src="images/connectfour.png")
    div(class="content-text")
      h2(style="margin-bottom: 20px") Connect4
      p Simple Connect4 implementation using Python and Pygame.
      a(href="https://github.com/henrygoodman/connect4python" target="_blank") Github link.

  div(class="content-block")
    div(class="image-content")
      img(class="image-content-src" src="images/gameoflife.png")
    div(class="content-text")
      h2(style="margin-bottom: 20px") Conway's Game of Life
      p Game of life implementation using Python and Pygame.</br>- Start/Stop game button, customizable drawing patterns as initial state. </br>- Future plans: make game wrap around sides of screen for pseudo-infinite plane. 
      a(href="https://github.com/henrygoodman/gameoflife" target="_blank") Github link.

  div(class="content-block")
    div(class="image-content")
      img(class="image-content-src" src="images/flappybird.png")
    div(class="content-text")
      h2(style="margin-bottom: 20px") Flappy Bird Clone
      p Flappy Bird clone made using pygame, featuring physics from scratch, in-game sounds and built-in highscores tracker 
      a(href="https://github.com/henrygoodman/flappybird" target="_blank") Github link.

  div(class="footer")

