extends layout
block content

  div(class="content-block")
    div(class="image-content")
      img(class="image-content-src" src="images/UTS_eRes_SES1A.png")
    div(class="content-text")
      h2(style="margin-bottom: 20px") eRestaurant 
      p First university group project building a web application using Express with EJS views and MongoDB storage.
      p Back-end contribution building database interface and handling all business logic.
      a(href="http://eres.herokuapp.com" target="_blank") Click here to check it out.

  div(class="content-block")
    div(class="image-content")
      img(class="image-content-src" src="connect4.png")
    div(class="content-text")
      h2(style="margin-bottom: 20px") Connect4
      p Simple Connect4 implementation using Python and Pygame.
      p Currently in process of implementing AI using minimax algorithm.
      a(href="https://github.com/henrygoodman/connect4python" target="_blank") Github link.

  div(class="footer")

